body {
background-color: gray;
}

h1 {
    text-align: center;
    color: white;
}

a:link {
  color: aqua;
}

a:visited {
  color: lightcoral;
}

#topcontent {
  padding-bottom: 10em;
}

#hello {
  padding-bottom: 10em;
}


#about.container {
  /* padding: 3em; */
  position: relative;
   text-align: center;
   color: white;
}

.cloud_pic {
  padding-right: 8em;
}

.centered {
    position: absolute;
    /* top: 60%;
    left: 40%; */
    top: 70px;
    left:30px;
    margin-top: 85px;
    transform: translate(-30%, -70%);
    padding-left: 30em;
    padding-top: 30em;
}

#profile_pic {
  padding-top: 7em;
}

/* .cloud_pic {
  background: url(assets/images/cloud.png) center/cover no-repeat;
} */

.list-inline {
  font-weight: bold;
}

#skills {
  color: white;
  text-align: center;
  padding-bottom: 10em;
}

#skill_paragraph {
  font-size: 16px;
}

#verticaltext{
  height: 100px;
  width: 100px;
  transform: rotate(270deg);

/*play with margin */
  /* vertical-align: baseline; */
  /* writing-mode: vertical-rl;
  text-orientation: sideways; */

	transform-origin: left center 50;
  color: white;
}



#facts {
  font-size: 18px;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 8em;
  text-align: center;
  color: white;
}

.ul {
  list-style-type: none
}

#img-1 {
  padding: 1em;
}

.text-middle {
  padding-bottom: 8em;
}

#bottomcontent {
  color: white;
}

#projects {
  text-align: center;
}

footer {
  padding-top: 10em;
  color: white
}
