body {
background-color: gray;
}

h1 {
    text-align: center;
    color: white;
}

a:link {
  color: aqua;
}

a:visited {
  color: lightcoral;
}

#topcontent {
  padding-bottom: 10em;
}

#hello {
  padding-bottom: 10em;
}


#about.container {
  /* padding: 3em; */
  position: relative;
   text-align: center;
   color: white;
}

.centered {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-40%, -60%);
    padding-left: 8em;
}

#profile_pic {
  padding-top: 7em;
}

/* .cloud_pic {
  background: url(assets/images/cloud.png) center/cover no-repeat;
} */

.list-inline {
  font-weight: bold;
}

#skills {
  color: white;
  text-align: center;
  padding-bottom: 10em;
}

#verticaltext{
  height: 100px;
  width: 100px;
  transform: rotate(270deg);
/*play with margin */
  /* vertical-align: baseline; */
  /* writing-mode: vertical-lr; */

	/* transform-origin: left top 0; */
  color: white;
        }

#facts {
  font-size: 18px;
  padding: 1em;
  padding-top: 2em;
  text-align: center;
  color: white;
}

.ul {
  list-style-type: none
}

#img-1 {
  padding: 1em;
}

.text-middle {
  padding-bottom: 8em;
}

footer {
  padding-top: 10em;
}
